<div class="sidenav">
    <div class="login-main-text">
            <h2>Application<br> Login Page</h2>
            <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
           <div class="form-group">
                <form action="/loggedin" method="POST">
                    <label>Email Address</label>
                    <input type="text" name="email" class="form-control" placeholder="Email Address" size="40"><br>
                    <label>Password</label>
                    <input type="text" name="password" class="form-control" placeholder="Password" size="40"><br><br>

                    <button type="submit" class="btn btn-black">Login</button>
                    <a href="/createaccount"><button type="button" class="btn btn-secondary">Register</button></a>
                </form>
        </div>
    </div>
</div>