<h1>Log In:</h1>
<form action="/loggedin" method="POST">
    <input type="text" name="email" class="form-control" placeholder="Email Address" size="40"><br>
    <input type="text" name="password" class="form-control" placeholder="Password" size="40"><br><br>
   
    <input type="submit" class="btn btn-primary" value="submit">
</form>